body {
  background: #eee;
}

.fb-album {

  max-width: 400px;

  &__inner {

  }

  &__header {

  }

  &__heading {

  }

  &__list {

  }

  &__item {
    margin-bottom: 1%;
    position: relative;
    float: left;
    width: 100%;
    
    @media screen and (min-width: 480px) {
      width: 49%;
      margin-left: 1%;
    }

    @media screen and (min-width: 600px) {
      width: 24%;
      margin-left: 1%;
    }
  }

  &__img {
    padding-top: 56.25%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  &__cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .4s all;
    opacity: 0;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.6);
      opacity: 1;
    }
  }

  &__link {
    display: block;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    margin: -10% 0 0 -25%;
    cursor: pointer;
  }

  &__icon {
    width: 40px;
  }

}
